<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrdersMapper">
    <select id="getOrdersInfo" resultType="com.example.demo.entity.vo.ordersVo">
    SELECT  orderDate,storeName,productName,productCount,itemPay,orderItemTag
    FROM orders LEFT OUTER JOIN orderitem ON orders.orderId = orderitem.orderId
    LEFT OUTER JOIN product ON orderitem.productId = product.productId
    LEFT OUTER JOIN store ON store.storeId = product.storeId
    WHERE orders.userId = #{userId}
    </select>
</mapper>

