<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductMapper">
    <select id="getStoreInfo" resultType="com.example.demo.entity.vo.storeVo">
        SELECT  `store`.storeId,`store`.storeName
        FROM `product` LEFT OUTER JOIN `store` ON product.storeId = store.storeId
        WHERE product.productId = #{productId}
    </select>
</mapper>
